@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --primary-color: #f5f4f4;
    --secondary-color: #00303f;
    --ternary-color: #cae4db;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav header{
    font-size: 60px;
    margin: 2rem auto;
}

.hr{
    max-width: 100%;
    max-height: 0.1rem;
    background-color: var(--secondary-color);
}

.input{
    margin: 1.5rem;
}

.input .flex{
    flex-direction: column;
    justify-content: flex-start;
}

.input label{}

.input input{
    padding: 1rem;
    margin: 1.5rem auto;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
}

.input input:focus{
    outline: none;
    border-bottom: 1px solid var(--secondary-color)
}

.btn button{
    margin: 1rem 1.5rem;
    padding: 0.7rem;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.2rem;
}

.btn button:focus{
    outline: none;
}

/* .btn button:hover{
    padding: 1rem;
} */

.return header{
    margin: 2rem;
}
.return .flex{
    justify-content: center;
}
.output .flex{
    flex-wrap: wrap;
}
.cell{
    padding: 2rem;
    background-color: #00303f;
    border: 1px solid #cae4db;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.upper{
    padding: 1rem;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.grid div{
    padding: 1rem;
    margin: 2rem auto;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.2rem;
}

.output{
    border: 1px solid var(--secondary-color);
    max-width: 50%;
    margin: 1rem auto;
}

.output .arrow{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}





@media screen and (max-width: 780px){
    .nav header{
        font-size: 30px;
    }

    .output{
        max-width: 80%;
    }

    .grid div{
        padding: 0.5rem;
        margin: 1rem auto;
    }
}